a {
  text-decoration: none;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
li {
  color: brown;
}